<div class="container">
    <h1>home</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a
        type specimen book</p>

    <div class="products">
        <ng-container *ngIf="statusOnline">
            <div *ngFor="let proitem of products">
                {{proitem.name}}
            </div>
        </ng-container>
    </div>
</div>