<div class="card">
    <div class="card-body text-align:left">
        <!-- <h5 class="card-title">{{product}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        <button (click)="btnClick()" class="btn btn-success">Newsletter Subscribe</button>
         -->
        <ng-container *ngFor="let product of products">
            Product Name: <strong class="text-success">{{ product.name}}</strong>
            Product Id:   <strong class="text-success">{{ product.id }}</strong><br>
        </ng-container>
    </div>
</div>