<!-- <div class="container">
    <div class="row">
        <div class="col-md-10">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <td>Product Image</td>
                        <td>Product Name</td>
                        <td>Product ID </td>
                        <td>Product Price</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mypro of products">
                        <td><img src="{{mypro.proimg}}" width="70" alt="hello"></td>
                        <td>{{mypro.name}}</td>
                        <td>{{mypro.id}}</td>
                        <td>{{mypro.price}}</td>
                    </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div> -->

<div class="container">
    <!--<div class="row"-->
    <br>
    <div class="row">
        <div class="col-md-3">
            <input type="text" name="" class="form-control" #uname placeholder="User Name">
        </div>
        <div class="col-md-3">
            <button class="btn btn-success" (click) = "onCreateUser(uname)">Create User</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-danger" (click) = "onRemoveUser(uname)">Remove User</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-10">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>UserName</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; index as i">
                        <td>{{user.name}}</td>
                        <td>
                            <button class="btn btn-danger" (click)="onRemoveItem(i)">Remove Item</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>